In [39]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
%matplotlib inline

In [111]:
data = pd.read_csv('resume_challenge.csv')
data.head()

,Unnamed: 0,candidate_name,job_title,resume
0,0,Ardiela Dramat,administration manager,"['confidentiality', 'clause', 'information', '..."
1,1,Jeanine Adant,administration manager,"['confidentiality', 'clause', 'information', '..."
2,2,Joan Nicolene Esterhuizen,administration manager,"['confidentiality', 'clause', 'information', '..."
3,3,Rozina Scheepers,administration manager,"['confidentiality', 'clause', 'information', '..."
4,4,Samantha Jennings,administration manager,"['information', 'concerning', 'candidate', 'fu..."

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 4 columns):
Unnamed: 0        133 non-null int64
candidate_name    133 non-null object
job_title         133 non-null object
resume            133 non-null object
dtypes: int64(1), object(3)
memory usage: 4.2+ KB

In [113]:
col_names =  ['job_title', 'text']
data_  = pd.DataFrame(columns = col_names)

In [115]:
count = len(data)
i = 0
previous = ""
text = ""
while i < count:
    if previous == data['job_title'][i]:
        text = text + data['resume'][i]
    else:
        data_.loc[len(data_)] = [previous, text]
        text = ""
    previous = data['job_title'][i]
    i+=1

In [116]:
x = data_['text'][1]
type(x)

str

In [82]:
for x in data_['text']:
    x = ''.join(x)
    #print (x)
#     count = Counter(x)
#     arranged = sorted(count.iteritems(), key=lambda (k, v): (-v, k))[:10]
#     a_data = arranged
#     print a_data
    #names, values = zip(*data_)  # @comment by Matthias

In [84]:
data_['text'][0]

''